<h2>Hola</h2>
{% for collectionn in section.settings.collec %}
    
{%- paginate collectionn by 5 -%}
    <div class="collection__products" data-collection-products>
    <h4>One Product</h4>
    </div>

  {%- endpaginate -%}

{% endfor %}

  {% schema %}
    {
        "name": "Most Popular Products",
        "class": "most-popular-products",
        "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
            "type": "collection",
            "id": "collec",
            "label": "Collection to feature"
        }
        ],
    "presets": [
    {
      "name": "Most Popular Products"
    }
  ]
    }
  {% endschema %}