<h2>Hola</h2>
{%- assign mostPopular = collections['all'].products -%}
{%- for product in mostPopular -%}
  {{ product.title }}
{%- endfor -%}

  {% schema %}
    {
        "name": "Most Popular Products",
        "class": "most-popular-products-section",
    "presets": [
    {
      "name": "Most Popular Products",
      "settings": {}
    }
  ]
    }
  {% endschema %}