.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.mp-item {
    margin: auto 1.5rem;
}

.logoItem {
    max-width: 3rem;
}

.icons-row {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.icons-row__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icons-row__item {
    max-width: 8rem;
}

.list-collections__item__title {
    margin-top: 1rem;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1rem;
}