.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.mp-item {
    margin: auto 1.5rem;
}

.logoItem {
    max-width: 3rem;
}

/* Icons List */

.icons-border {
    width: 80%;
    margin: 2rem auto;
    height: 1px;
    background-color: rgb(197, 197, 197);
    border: none;
    opacity: 0.5 !important;
}

.icons-row__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@media only screen and (min-width: 1700px) {
    .icons-border {
        width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .icons-row__slider {
        flex-wrap: wrap;
    }
}

.icons-row {
    padding: 0;
}

.icons-row__title {
    width: 10rem;
    margin: 1rem auto;
    font-size: 1rem;
}

.list-collections__item__title {
    margin-top: 1rem;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1rem;
}

/* Newsletter Form */

.input-group {
    flex-wrap: nowrap;
    border: 2px solid #F4AB9D;
    margin-top: 3rem;
}

.input-group input::placeholder {
    color: gray;
}

.newsletter-section p {
    font-family: 'Clicker Script', cursive;
    font-size: 4vw;
    margin-top: -30px;
    color: #EAAE86;
}

@media only screen and (max-width: 768px) {
    .newsletter-section p {
        margin-top: -10px;
    }
}

.input-group__btn {
    width: 7rem;
    border-left: 3px solid #f4ab9d;
    background-color: #f4ab9d;
}

.input-group span {
    margin: -2px;
}

button[type=submit]:hover {
    background-color: #fc866f;
}

/* Product Feature */

.product-feature {
    padding: 2rem 0;
    overflow: hidden;
}

.product-feature a {
    border-color: #f4ab9d;
    color: #f4ab9d;
}

.product-feature__image {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
}

.subheading {
    font-size: 6vw;
    color: #EAAE86;
}

@media only screen and (min-width: 768px) {
    .product-feature__images {
        width: 48%;
    }

    .product-feature__image {
        height: 25vw;
    }

    .product-feature__text p {
        text-align: justify;
    }

    .subheading {
        margin-top: -17px;
        text-align: center;
        font-size: 3vw;
    }
}

.product-feature__text h3 {
    margin: 0;
}

@media only screen and (min-width: 1024px) {
    .product-feature__text {
        margin-left: auto;
        margin-right: auto;
    }

    .product-feature__text p {
        margin: 2rem 0;
    }
}

.wrapper {
    max-width: 100%;
}

.header-font {
    font-family: "Playfair Display", serif;
}

/* Featured Collection */

.featured-collection__title .wrapper .section__heading {
    margin-bottom: 1rem;
    text-align: center;
}

.featured-collection__title .wrapper .subheading {
    margin-bottom: 2rem;
}

.collection-feature-product-title {
    color: #D79E93;
    font-weight: 800;
}

/* Collection list */

.list-collections-section .wrapper h2 {
    margin-bottom: 1rem;
}

.list-collections-section .wrapper .subheading {
    margin-bottom: 2rem;
    text-align: center;
}

.collection-list-item-title {
    color: #D79E93;
    font-weight: 800;
}

/* Banner Section */

.banner-section {
    margin: 4rem 0;
}

.banner-section h2 {
    margin-bottom: 1rem;
}

.banner-section .subheading {
    font-size: 3vw;
    margin-bottom: 2rem;
    text-align: center;
}

/* Footer */

.custom-footer-link {
    color: #D79E93;
    font-weight: 800;
}

@media only screen and (min-width: 768px) {

    .footer-content__logo__image {
        margin-top: 4rem;
    }

}